@font-face {
    font-family:"Open_Dyslexic3";
    src: url("fonts/OpenDyslexic3-Regular.ttf") format("truetype");
}

.body{
   font-family: "Open_Dyslexic3", sans-serif;
   font-size: medium;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   

}
.assignmentTable {
    width: 50%;
    border-collapse: collapse;
    margin: 20px 0;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
button {
    margin-top: 10px;
    padding: 5px 15px;
    cursor: pointer;
}

/* -----------Style for the pop-up add course form ------------*/
.popupMenu {
    display: none;
    flex-direction: column;
    font-size: 9pt;
    width:80%; /* Initially hidden */
    height: 80%;
    background-color: rgb(145, 226, 241);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #333;
    z-index: 2; 
    padding: 20px;
    box-sizing: border-box;
}
.overlay {
    display:none;
    position: fixed; 
    top: 0; 
    left: 0;               
    width: 100%;           
    height: 100%;          
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px);
    z-index: 1;            /* Sits below the popup (which will have a higher z-index) */
    padding: 20px;
}


.popupBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: black;
   
}

.btn{
    padding: 5px;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    float: left;
 
}

#successfulSave{
    display: none;
    align-items: center;
}


/* Close button */
#closeFormButton {
   
    color: white;
    border: none;
    cursor: pointer;
    
}

#closeFormButton:hover {
    color: red;
}


/* -----------Style for the add Assignment weights pop-up form ------------*/
#newAssignmentTypeButton{
    display: flex;
    padding: 5px;
}
/*---User input in fieldset menus---*/
#courseInfoFieldSet{
    display: block;
}
.inputContainer {
    display: flex;
    
    margin-bottom: 10px
}

.inputBox label {
    flex: 1;
    font-size: 12pt;
    color: black;
    
}

.inputBox input {
    flex: 1;
}


